<section>
  <div class="container">
    <div class="row g-4 py-5 text-center text-white">
      <div class="col-sm-4">
        <div class="card bg-transparent border-0">
          <div class="card-body text-center text-white">
          <h3 _class="card-title">LOCATION</h3>
            <p class="card-text">2215 John Daniel Drive</p>
            <p class="card-text p2">Clark, MO 65243</p>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="card bg-transparent border-0">
          <div class="card-body text-center text-white">
          <h3 _class="card-title">AROUND THE WEB</h3>
            <div class="footer-icons d-flex justify-content-center align-items-center">
              <i class="fa-brands rounded-pill fs-6 fa-facebook m-2"></i>
              <i class="fa-brands rounded-pill fs-6 fa-twitter m-2"></i>
              <i class="fa-brands rounded-pill fs-6 fa-linkedin m-2"></i>
              <i class="fa-solid rounded-pill fs-6 fa-globe m-2"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="card bg-transparent border-0">
          <div class="card-body text-center text-white">
          <h3 _class="card-title">ABOUT FREELANCER</h3>
            <p class="card-text">Freelance is a free to use, licensed Bootstrap theme created by Route</p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<div class=" footer footer-copy p-3 text-white text-center">
  <p class="m-0">Copyright © Your Website 2021</p>
</div>
